{
  "openapi": "3.0.0",
  "info": {
    "title": "Squidex API",
    "description": "# Introduction\n\nThe API provides two specifications. The Content API usually returns one object per schema field where the keys are the languages (or `iv` for non-localized) fields and the values are the actual field values.\n\nYou can use the `X-Flatten` header to return a flat structure when you query content items. This is more performant and easier for code generation. Unfortunantely it cannot be modelled with OpenAPI. Therefore we provide two different documents for your API.\n\nRead more about this here: https://docs.squidex.io/02-documentation/concepts/localization#how-to-use-the-api\n\n## Normal Content API\n\nAll content fields are objects in the response.\n\nGo to: https://squidex.thepk.in/api/content/platform/docs/\n\n## Flat Content API\n\nAll content fields are single values.\n\nGo to: https://squidex.thepk.in/api/content/platform/docs/flat/",
    "version": "7.21.0.0",
    "x-logo": {
      "url": "https://squidex.thepk.in/images/logo-white.png",
      "backgroundStyle": "",
      "backgroundColor": "#3f83df"
    }
  },
  "servers": [
    {
      "url": "https://squidex.thepk.in"
    }
  ],
  "paths": {
    "/api/content/platform/about/": {
      "get": {
        "tags": [
          "About"
        ],
        "summary": "Query 'about' contents items.",
        "description": "How to make queries?\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html\n\nThe query endpoints support three options:\n\n### Query with OData\n\nSquidex supports a subset of the OData (https://www.odata.org/) syntax with with the following query options:\n\n* **$top**: The $top query option requests the number of items in the queried collection to be included in the result. The default value is 20 and the maximum allowed value is 200. You can change the maximum in the app settings, when you host Squidex yourself.\n* **$skip**: The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. Use it together with $top to read the all your data page by page. \n* **$search**: The $search query option allows clients to request entities matching a free-text search expression. We add the data of all fields for all languages to our full text engine.\n* **$filter**: The $filter query option allows clients to filter a collection of resources that are addressed by a request URL.\n* **$orderby**: The $orderby query option allows clients to request resources in a particular order.\n\n### Query with JSON query\n\nSquidex also supports a query syntax based on JSON. You have to pass in the query object as query parameter:\n\n* **q**: A json text that represents the same query options as with OData, but is more performant to parse.\n\n### Query by IDs\n\nQuery your items by passing in one or many IDs with the following query parameter:\n\n* **ids**: A comma-separated list of ids. If you define this option all other settings are ignored.",
        "operationId": "QueryAboutContent",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional number of items to take.",
            "schema": {
              "type": "number"
            },
            "x-position": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "number"
            },
            "x-position": 2
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Optional OData order definition.",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional OData filter.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "q",
            "in": "query",
            "description": "JSON query as well formatted json string. Overrides all other query parameters, except 'ids'.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of object IDs. Overrides all other query parameters.",
            "schema": {
              "type": "string"
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "About"
        ],
        "summary": "Create a 'about' content item.",
        "operationId": "CreateAboutContent",
        "parameters": [
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "query",
            "description": "The optional custom content ID.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AboutDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Content item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.create"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/query": {
      "post": {
        "tags": [
          "About"
        ],
        "summary": "Query 'about' contents items using Post.",
        "operationId": "QueryPostAboutContent",
        "requestBody": {
          "x-name": "query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/{id}": {
      "get": {
        "tags": [
          "About"
        ],
        "summary": "Get a 'about' content item.",
        "operationId": "GetAboutContent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "About"
        ],
        "summary": "Upsert a 'about' content item.",
        "operationId": "UpsertAboutContent",
        "parameters": [
          {
            "name": "patch",
            "in": "query",
            "description": "Makes the update as patch.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 1
          },
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 3,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AboutDataDto"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.upsert"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "About"
        ],
        "summary": "Update a 'about' content item.",
        "operationId": "UpdateAboutContent",
        "parameters": [
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AboutDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.update.own"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "About"
        ],
        "summary": "Patch a 'about' content item.",
        "operationId": "PatchAboutContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AboutDataDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.update.own"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "About"
        ],
        "summary": "Delete a 'about' content item.",
        "operationId": "DeleteAboutContent",
        "parameters": [
          {
            "name": "permanent",
            "in": "query",
            "description": "True when the entity should be deleted permanently.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "204": {
            "description": "Content item deleted"
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.delete.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/{id}/{version}": {
      "get": {
        "tags": [
          "About"
        ],
        "summary": "Get a 'about' content item by id and version.",
        "operationId": "GetVersionedAboutContent",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0,
            "nullable": false
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutDataDto"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/{id}/validity": {
      "get": {
        "tags": [
          "About"
        ],
        "summary": "Validates a 'about' content item.",
        "operationId": "ValidateAboutContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item is valid."
          },
          "400": {
            "description": "Content item is not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/bulk": {
      "post": {
        "tags": [
          "About"
        ],
        "summary": "Bulk update content items.",
        "operationId": "BulkAboutContent",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateContentsDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Contents created, update or delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Contents request not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/{id}/defaults": {
      "put": {
        "tags": [
          "About"
        ],
        "summary": "Apply a 'about' content item. defaults",
        "operationId": "UpdateDefaultsAboutContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.update.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/about/{id}/status": {
      "put": {
        "tags": [
          "About"
        ],
        "summary": "Change the status of a 'about' content item.",
        "operationId": "ChangeAboutContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The request to change content status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content status not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.about.changestatus.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Query 'blog' contents items.",
        "description": "How to make queries?\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html\n\nThe query endpoints support three options:\n\n### Query with OData\n\nSquidex supports a subset of the OData (https://www.odata.org/) syntax with with the following query options:\n\n* **$top**: The $top query option requests the number of items in the queried collection to be included in the result. The default value is 20 and the maximum allowed value is 200. You can change the maximum in the app settings, when you host Squidex yourself.\n* **$skip**: The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. Use it together with $top to read the all your data page by page. \n* **$search**: The $search query option allows clients to request entities matching a free-text search expression. We add the data of all fields for all languages to our full text engine.\n* **$filter**: The $filter query option allows clients to filter a collection of resources that are addressed by a request URL.\n* **$orderby**: The $orderby query option allows clients to request resources in a particular order.\n\n### Query with JSON query\n\nSquidex also supports a query syntax based on JSON. You have to pass in the query object as query parameter:\n\n* **q**: A json text that represents the same query options as with OData, but is more performant to parse.\n\n### Query by IDs\n\nQuery your items by passing in one or many IDs with the following query parameter:\n\n* **ids**: A comma-separated list of ids. If you define this option all other settings are ignored.",
        "operationId": "QueryBlogContent",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional number of items to take.",
            "schema": {
              "type": "number"
            },
            "x-position": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "number"
            },
            "x-position": 2
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Optional OData order definition.",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional OData filter.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "q",
            "in": "query",
            "description": "JSON query as well formatted json string. Overrides all other query parameters, except 'ids'.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of object IDs. Overrides all other query parameters.",
            "schema": {
              "type": "string"
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Blog"
        ],
        "summary": "Create a 'blog' content item.",
        "operationId": "CreateBlogContent",
        "parameters": [
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "query",
            "description": "The optional custom content ID.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Content item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.create"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/query": {
      "post": {
        "tags": [
          "Blog"
        ],
        "summary": "Query 'blog' contents items using Post.",
        "operationId": "QueryPostBlogContent",
        "requestBody": {
          "x-name": "query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/{id}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Get a 'blog' content item.",
        "operationId": "GetBlogContent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Blog"
        ],
        "summary": "Upsert a 'blog' content item.",
        "operationId": "UpsertBlogContent",
        "parameters": [
          {
            "name": "patch",
            "in": "query",
            "description": "Makes the update as patch.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 1
          },
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 3,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogDataDto"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.upsert"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Blog"
        ],
        "summary": "Update a 'blog' content item.",
        "operationId": "UpdateBlogContent",
        "parameters": [
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.update.own"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Blog"
        ],
        "summary": "Patch a 'blog' content item.",
        "operationId": "PatchBlogContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogDataDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.update.own"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Blog"
        ],
        "summary": "Delete a 'blog' content item.",
        "operationId": "DeleteBlogContent",
        "parameters": [
          {
            "name": "permanent",
            "in": "query",
            "description": "True when the entity should be deleted permanently.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "204": {
            "description": "Content item deleted"
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.delete.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/{id}/{version}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Get a 'blog' content item by id and version.",
        "operationId": "GetVersionedBlogContent",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0,
            "nullable": false
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogDataDto"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/{id}/validity": {
      "get": {
        "tags": [
          "Blog"
        ],
        "summary": "Validates a 'blog' content item.",
        "operationId": "ValidateBlogContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item is valid."
          },
          "400": {
            "description": "Content item is not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/bulk": {
      "post": {
        "tags": [
          "Blog"
        ],
        "summary": "Bulk update content items.",
        "operationId": "BulkBlogContent",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateContentsDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Contents created, update or delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Contents request not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/{id}/defaults": {
      "put": {
        "tags": [
          "Blog"
        ],
        "summary": "Apply a 'blog' content item. defaults",
        "operationId": "UpdateDefaultsBlogContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.update.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/blog/{id}/status": {
      "put": {
        "tags": [
          "Blog"
        ],
        "summary": "Change the status of a 'blog' content item.",
        "operationId": "ChangeBlogContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The request to change content status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content status not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.blog.changestatus.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Query 'Education' contents items.",
        "description": "How to make queries?\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html\n\nThe query endpoints support three options:\n\n### Query with OData\n\nSquidex supports a subset of the OData (https://www.odata.org/) syntax with with the following query options:\n\n* **$top**: The $top query option requests the number of items in the queried collection to be included in the result. The default value is 20 and the maximum allowed value is 200. You can change the maximum in the app settings, when you host Squidex yourself.\n* **$skip**: The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. Use it together with $top to read the all your data page by page. \n* **$search**: The $search query option allows clients to request entities matching a free-text search expression. We add the data of all fields for all languages to our full text engine.\n* **$filter**: The $filter query option allows clients to filter a collection of resources that are addressed by a request URL.\n* **$orderby**: The $orderby query option allows clients to request resources in a particular order.\n\n### Query with JSON query\n\nSquidex also supports a query syntax based on JSON. You have to pass in the query object as query parameter:\n\n* **q**: A json text that represents the same query options as with OData, but is more performant to parse.\n\n### Query by IDs\n\nQuery your items by passing in one or many IDs with the following query parameter:\n\n* **ids**: A comma-separated list of ids. If you define this option all other settings are ignored.",
        "operationId": "QueryEducationContent",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional number of items to take.",
            "schema": {
              "type": "number"
            },
            "x-position": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "number"
            },
            "x-position": 2
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Optional OData order definition.",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional OData filter.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "q",
            "in": "query",
            "description": "JSON query as well formatted json string. Overrides all other query parameters, except 'ids'.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of object IDs. Overrides all other query parameters.",
            "schema": {
              "type": "string"
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Education"
        ],
        "summary": "Create a 'Education' content item.",
        "operationId": "CreateEducationContent",
        "parameters": [
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "query",
            "description": "The optional custom content ID.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Content item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.create"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/query": {
      "post": {
        "tags": [
          "Education"
        ],
        "summary": "Query 'Education' contents items using Post.",
        "operationId": "QueryPostEducationContent",
        "requestBody": {
          "x-name": "query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/{id}": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get a 'Education' content item.",
        "operationId": "GetEducationContent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Education"
        ],
        "summary": "Upsert a 'Education' content item.",
        "operationId": "UpsertEducationContent",
        "parameters": [
          {
            "name": "patch",
            "in": "query",
            "description": "Makes the update as patch.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 1
          },
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 3,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationDataDto"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.upsert"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Education"
        ],
        "summary": "Update a 'Education' content item.",
        "operationId": "UpdateEducationContent",
        "parameters": [
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.update.own"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Education"
        ],
        "summary": "Patch a 'Education' content item.",
        "operationId": "PatchEducationContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EducationDataDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.update.own"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Education"
        ],
        "summary": "Delete a 'Education' content item.",
        "operationId": "DeleteEducationContent",
        "parameters": [
          {
            "name": "permanent",
            "in": "query",
            "description": "True when the entity should be deleted permanently.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "204": {
            "description": "Content item deleted"
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.delete.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/{id}/{version}": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Get a 'Education' content item by id and version.",
        "operationId": "GetVersionedEducationContent",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0,
            "nullable": false
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationDataDto"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/{id}/validity": {
      "get": {
        "tags": [
          "Education"
        ],
        "summary": "Validates a 'Education' content item.",
        "operationId": "ValidateEducationContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item is valid."
          },
          "400": {
            "description": "Content item is not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/bulk": {
      "post": {
        "tags": [
          "Education"
        ],
        "summary": "Bulk update content items.",
        "operationId": "BulkEducationContent",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateContentsDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Contents created, update or delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Contents request not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/{id}/defaults": {
      "put": {
        "tags": [
          "Education"
        ],
        "summary": "Apply a 'Education' content item. defaults",
        "operationId": "UpdateDefaultsEducationContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.update.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/education/{id}/status": {
      "put": {
        "tags": [
          "Education"
        ],
        "summary": "Change the status of a 'Education' content item.",
        "operationId": "ChangeEducationContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The request to change content status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EducationContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content status not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.education.changestatus.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Query 'Projects' contents items.",
        "description": "How to make queries?\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html\n\nThe query endpoints support three options:\n\n### Query with OData\n\nSquidex supports a subset of the OData (https://www.odata.org/) syntax with with the following query options:\n\n* **$top**: The $top query option requests the number of items in the queried collection to be included in the result. The default value is 20 and the maximum allowed value is 200. You can change the maximum in the app settings, when you host Squidex yourself.\n* **$skip**: The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. Use it together with $top to read the all your data page by page. \n* **$search**: The $search query option allows clients to request entities matching a free-text search expression. We add the data of all fields for all languages to our full text engine.\n* **$filter**: The $filter query option allows clients to filter a collection of resources that are addressed by a request URL.\n* **$orderby**: The $orderby query option allows clients to request resources in a particular order.\n\n### Query with JSON query\n\nSquidex also supports a query syntax based on JSON. You have to pass in the query object as query parameter:\n\n* **q**: A json text that represents the same query options as with OData, but is more performant to parse.\n\n### Query by IDs\n\nQuery your items by passing in one or many IDs with the following query parameter:\n\n* **ids**: A comma-separated list of ids. If you define this option all other settings are ignored.",
        "operationId": "QueryProjectsContent",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional number of items to take.",
            "schema": {
              "type": "number"
            },
            "x-position": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "number"
            },
            "x-position": 2
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Optional OData order definition.",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional OData filter.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "q",
            "in": "query",
            "description": "JSON query as well formatted json string. Overrides all other query parameters, except 'ids'.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of object IDs. Overrides all other query parameters.",
            "schema": {
              "type": "string"
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a 'Projects' content item.",
        "operationId": "CreateProjectsContent",
        "parameters": [
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "query",
            "description": "The optional custom content ID.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectsDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Content item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.create"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/query": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Query 'Projects' contents items using Post.",
        "operationId": "QueryPostProjectsContent",
        "requestBody": {
          "x-name": "query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a 'Projects' content item.",
        "operationId": "GetProjectsContent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Upsert a 'Projects' content item.",
        "operationId": "UpsertProjectsContent",
        "parameters": [
          {
            "name": "patch",
            "in": "query",
            "description": "Makes the update as patch.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 1
          },
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 3,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectsDataDto"
              }
            }
          },
          "required": true,
          "x-position": 4
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.upsert"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a 'Projects' content item.",
        "operationId": "UpdateProjectsContent",
        "parameters": [
          {
            "name": "enrichDefaults",
            "in": "query",
            "description": "Enrich the content with defaults.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectsDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.update.own"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Patch a 'Projects' content item.",
        "operationId": "PatchProjectsContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectsDataDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.update.own"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a 'Projects' content item.",
        "operationId": "DeleteProjectsContent",
        "parameters": [
          {
            "name": "permanent",
            "in": "query",
            "description": "True when the entity should be deleted permanently.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "204": {
            "description": "Content item deleted"
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.delete.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/{id}/{version}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a 'Projects' content item by id and version.",
        "operationId": "GetVersionedProjectsContent",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0,
            "nullable": false
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsDataDto"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/{id}/validity": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Validates a 'Projects' content item.",
        "operationId": "ValidateProjectsContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item is valid."
          },
          "400": {
            "description": "Content item is not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/bulk": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Bulk update content items.",
        "operationId": "BulkProjectsContent",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateContentsDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Contents created, update or delete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Contents request not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/{id}/defaults": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Apply a 'Projects' content item. defaults",
        "operationId": "UpdateDefaultsProjectsContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.update.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/projects/{id}/status": {
      "put": {
        "tags": [
          "Projects"
        ],
        "summary": "Change the status of a 'Projects' content item.",
        "operationId": "ChangeProjectsContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 0,
            "nullable": false
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The request to change content status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeStatusDto"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content status not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.projects.changestatus.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/skills/": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Query 'Skills' contents items.",
        "description": "How to make queries?\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html\n\nThe query endpoints support three options:\n\n### Query with OData\n\nSquidex supports a subset of the OData (https://www.odata.org/) syntax with with the following query options:\n\n* **$top**: The $top query option requests the number of items in the queried collection to be included in the result. The default value is 20 and the maximum allowed value is 200. You can change the maximum in the app settings, when you host Squidex yourself.\n* **$skip**: The $skip query option requests the number of items in the queried collection that are to be skipped and not included in the result. Use it together with $top to read the all your data page by page. \n* **$search**: The $search query option allows clients to request entities matching a free-text search expression. We add the data of all fields for all languages to our full text engine.\n* **$filter**: The $filter query option allows clients to filter a collection of resources that are addressed by a request URL.\n* **$orderby**: The $orderby query option allows clients to request resources in a particular order.\n\n### Query with JSON query\n\nSquidex also supports a query syntax based on JSON. You have to pass in the query object as query parameter:\n\n* **q**: A json text that represents the same query options as with OData, but is more performant to parse.\n\n### Query by IDs\n\nQuery your items by passing in one or many IDs with the following query parameter:\n\n* **ids**: A comma-separated list of ids. If you define this option all other settings are ignored.",
        "operationId": "QuerySkillsContent",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "string"
            },
            "x-position": 0
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Optional number of items to take.",
            "schema": {
              "type": "number"
            },
            "x-position": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Optional number of items to skip.",
            "schema": {
              "type": "number"
            },
            "x-position": 2
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Optional OData order definition.",
            "schema": {
              "type": "string"
            },
            "x-position": 3
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional OData filter.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          },
          {
            "name": "q",
            "in": "query",
            "description": "JSON query as well formatted json string. Overrides all other query parameters, except 'ids'.",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated list of object IDs. Overrides all other query parameters.",
            "schema": {
              "type": "string"
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.skills.read.own"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Create a 'Skills' content item.",
        "operationId": "CreateSkillsContent",
        "parameters": [
          {
            "name": "publish",
            "in": "query",
            "description": "Set to true to autopublish content on create.",
            "schema": {
              "type": "boolean"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "query",
            "description": "The optional custom content ID.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "data",
          "description": "The data of the content.\n            \nPlease note that each field is an object with one entry per language. \nIf the field is not localizable you must use `iv` (invariant language) as a key.\n\nRead more about it at: https://docs.squidex.io/04-guides/02-api.html",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SkillsDataDto"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "201": {
            "description": "Content item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsContentDto"
                }
              }
            }
          },
          "400": {
            "description": "Content data not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.skills.create"
            ]
          }
        ]
      }
    },
    "/api/content/platform/skills/query": {
      "post": {
        "tags": [
          "Skills"
        ],
        "summary": "Query 'Skills' contents items using Post.",
        "operationId": "QueryPostSkillsContent",
        "requestBody": {
          "x-name": "query",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryDto"
              }
            }
          },
          "required": true,
          "x-position": 0
        },
        "responses": {
          "200": {
            "description": "Content items retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsContentResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Content query not valid."
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
              "squidex.apps.platform.contents.skills.read.own"
            ]
          }
        ]
      }
    },
    "/api/content/platform/skills/{id}": {
      "get": {
        "tags": [
          "Skills"
        ],
        "summary": "Get a 'Skills' content item.",
        "operationId": "GetSkillsContent",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The version of the objec.",
            "schema": {
              "type": "number"
            },
            "x-position": 0
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the object (usually GUID).",
            "schema": {
              "type": "string"
            },
            "x-position": 1,
            "nullable": false
          }
        ],
        "responses": {
          "404": {
            "description": "Content item not found."
          },
          "200": {
            "description": "Content item returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsContentDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "squidex-oauth-auth": [
[...]
